<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>


    <%- include('nav.ejs') %>

    
    <h4 class="ml-2 my-3 text-center">할일 리스트</h4>
    
    <% if(locals.loginUser){ %>
      <h5 class="ml-2 my-3 text-center"><%= loginUser %>님 이 로그인했습니다.</h5>
    <% } %>

   
    <div class="container input-group mb-2">
      <input class="form-control" id="search-input">
      <button class="input-group-append btn btn-danger" id="search">검색</button>
    </div>

    <script>
      $('#search').click(function(){
        var 입력한값 = $('#search-input').val()
        window.location.replace('/search?value=' + 입력한값)
      })
    </script>  



    <div class="container">
      <ul class="list-group">
        <% for(var i =0; i< posts.length; i++){ %>
        <li class="list-group-item" >
          <p>글번호:  <%= posts[i]._id %></p>
          <h5><a href="/detail/<%= posts[i]._id %>" >할일 : <%= posts[i].제목 %></a></h5>
          <p>작성자: <%= posts[i].작성자 %></p>
          <p>할일 날짜 : <%= posts[i].날짜 %></p>
          
          <!-- 지금 로그인한 계정의 아이디와 글 작성자의 아이디가 같으면 노출 -->
            <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>

        </li>      
        <% } %>
      </ul>      
    </div>  
    
    <script>
      $('.delete').click(function(e){
        var 글번호 = e.target.dataset.id;// e.target:내가 누른요소, dataset.id: data-id
        var 지금누른거 =$(this);

        $.ajax({
        method : 'DELETE',
        url : '/delete',
        data: {_id : 글번호} //요청 보낼때 담을 데이터
        }).done(function(rst){ //ajax 요청 성공시 실행코드
          console.log('성공했어염')
          지금누른거.parent('li').fadeOut();
        }).fail(function(xhr, textStatus, errorThrown){ //요청 실패시
          console.log(xhr, textStatus, errorThrown);


        })

      })
     
    </script>
      



    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

  
  </body>
</html>