<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= loginUser %>

    <!-- <div class="container">
        <ul class="list-group">
          <% for(var i =0; i< posts.length; i++){ %>
          <li class="list-group-item" >
            <p>글번호:  <%= posts[i]._id %></p>
            <h5><a href="/detail/<%= posts[i]._id %>" >할일 : <%= posts[i].제목 %></a></h5>
            <p>작성자: <%= posts[i].작성자 %></p>
            <p>할일 날짜 : <%= posts[i].날짜 %></p>
            
            <!-- 지금 로그인한 계정의 아이디와 글 작성자의 아이디가 같으면 노출 -->
              <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
  
          </li>      
          <!-- <% } %>
        </ul>      
      </div>  -->
 
</body>
</html>